.header {
    @apply sticky top-0 z-[999] left-0 right-0 desktop:min-h-[150px] bg-gradient-to-l from-[#474747] to-[#222];

    &__contaniner {
        @apply grid desktopWide:grid-cols-[max-content_1fr_repeat(3,max-content)] laptopMedium:grid-cols-[max-content_1fr_repeat(2,max-content)] mobile:grid-cols-[repeat(2,max-content)] justify-between  desktopMedium:gap-[40px] py-[32px] items-center laptopMedium:gap-[20px];
    }
    &__list {
        @apply grid grid-cols-6 gap-[20px];
    }
    &__logo-img {
        @apply h-full w-full;
    }
    &__logo:deep() {
        @apply desktopMedium:w-[183px] desktopMedium:h-[87px] mobile:w-[150px] mobile:h-[60px] object-contain;
    }
    &__nav-popup {
        @apply absolute left-0;
    }
    &__nav {
        @apply laptopMedium:flex mobile:hidden;
    }
    &:deep(.header__nav-popup) {
        @apply absolute translate-x-0 w-max translate-y-8 !important;
    }
    &__connect {
        @apply laptopMedium:flex desktopMedium:flex-row desktopMedium:gap-[30px] mobile:flex-col mobile:hidden mobile:gap-[10px];
    }
    &__email,
    &__tel {
        @apply flex flex-col  gap-[0px_10px]  justify-start   desktopMedium:text-[18px] text-end font-semibold text-white desktopWide:text-[16px];
    }
    &__email {
        font-family: var(--second-family);
    }
    &__tel {
        font-family: var(--font3);
    }
    &__tel-info,
    &__email-info {
        @apply flex justify-end gap-[10px] items-center;
    }

    &__tel-text {
        @apply col-start-2 text-[12px] w-full;
    }
    &__social:deep() {
        @apply grid grid-cols-[repeat(5,20px)] gap-[10px] mobile:hidden desktopWide:grid;
        img {
            @apply w-full h-full object-contain;
        }
    }
    &__level-2 {
        @apply grid gap-[10px] p-[10px_15px] items-start;
    }
    &__level-2-link {
        @apply desktopMedium:text-[18px] font-bold text-left  laptopMedium:text-[16px];
        font-family: var(--second-family);
        &.active {
            @apply text-blue-300;
        }
    }
    &__social-mobile {
        @apply grid grid-cols-5 grid-rows-[30px];
    }
    &__elem {
        @apply flex justify-center items-center relative;
    }
    &__link {
        @apply desktopMedium:text-[18px] font-bold text-center text-[#c4c4c4] laptopMedium:text-[16px] p-0 h-full;
        font-family: var(--second-family);
        &.active {
            @apply text-blue-300;
        }
    }
    &__btn-call {
        @apply font-semibold text-[16px] p-[15px_30px] text-center text-white justify-self-end justify-center laptopMedium:flex mobile:hidden;
        font-family: var(--font-family);
        &.mobile {
            @apply mb-[40px] mobile:flex w-full;
        }
    }
    &__burger {
        @apply text-white w-full h-full  laptopMedium:hidden mobile:flex;
    }
    &__nav-mobile {
        @apply mb-[50px];
    }
    &__link-mobile {
        @apply text-[18px] text-center font-bold;
    }
    &__list-mobile {
        @apply grid gap-[45px] items-center justify-center w-full;
    }
    &__elem-mobile {
        @apply flex justify-center;
    }
    &__top-mobile {
        @apply mb-[20px] flex;
    }
    &__connect-mobile {
        @apply flex justify-between;
    }
    &__accordion-mobile-list {
        @apply grid gap-[45px];
    }
    &__email-mobile,
    &__tel-mobile {
        @apply text-[14px] font-semibold flex;
    }
    &__tel-mobile {
        @apply flex flex-col items-end;
    }
    &__accordion-btn-text {
        @apply text-center;
    }
    &__email-block-mobile {
        @apply flex items-center mb-auto gap-[10px];
    }
    &__icon-mobile:deep() {
        @apply w-full h-full;
        path {
            fill: #2387c0;
        }
    }
    &__tel-block-mobile {
        @apply flex items-center gap-[10px];
        svg {
            @apply w-auto h-auto;
        }
    }
    &__accordion-link-mobile {
        @apply text-[18px] text-center font-bold;
    }
    &__accordion-btn-mobile {
        @apply flex justify-center text-[18px] text-center font-bold;
        &:active {
            @apply bg-transparent;
        }
    }
    &__close:deep() {
        @apply flex ml-auto;
        path {
            fill: #2387c0;
        }
    }
    &__social-elem-mobile {
        a:where([aria-label='whatsApp']) {
            .header__icon-mobile:deep() {
                rect {
                    fill: transparent;
                    stroke: #2387c0;
                }
            }
        }
    }
}
