.suitable-services {
    @apply overflow-hidden py-[60px] bg-[#EDF5FF];
    &__elem-link {
        @apply grid gap-[23px];
    }
    &__title {
        font-family: var(--font-family);
        @apply mb-[46px] text-[#242527] font-semibold;
    }
    swiper-container {
        &::part(container) {
            @apply overflow-visible;
        }
        &::part(wrapper) {
            @apply items-center;
        }
    }

    &__elem-link {
        background: linear-gradient(224deg, #474747 0%, #222 41.8%);
        @apply rounded-[30px] overflow-hidden p-[40px] shadow-[3px_6px_15px_0_#2425270d];
    }
    &__title-elem {
        font-family: var(--second-family);
        line-height: 120%;
        letter-spacing: -0.05em;
        @apply desktop:text-[42px] text-white font-bold mobile:text-[20px];
    }
    &__descr-elem {
        font-family: var(--second-family);
        line-height: 167%;
        @apply desktop:text-[18px] mobile:text-[14px] font-semibold text-white;
    }
    &__btn-elem {
        font-family: var(--font-family);
        @apply desktop:text-[18px] mobile:text-[14px] font-semibold text-center text-white max-w-max p-[10px_40px] rounded-[71px];
    }
}
