.suitable-services {
  @apply overflow-hidden py-[60px];
  &__elem-link {
    display: grid;
    gap: 23px;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 46px;
    color: #242527;
    margin-bottom: 46px;
  }
  swiper-container {
    &::part(container) {
      @apply overflow-visible;
    }
    &::part(wrapper) {
      @apply items-center;
    }
  }
  
  &__elem-link {
    box-shadow: 3px 6px 15px 0 rgba(36, 37, 39, 0.05);
    background: linear-gradient(224deg, #474747 0%, #222 41.8%);
    padding: 40px;
    overflow: hidden;
    border-radius: 30px;
  }
  &__title-elem {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #fff;
  }
  &__descr-elem {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
  }
  &__btn-elem {
    border-radius: 71px;
    padding: 10px 40px;
    margin-right: auto;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
}
