.corp-servies {
    @apply desktop:pt-[88px] desktop:pb-[63px] mobile:py-[30px];
    &__swiper {
        @apply w-full h-full;
    }
    &__title{
        @apply mb-[40px];
    }
    &__elem {
        background: #fff;
        border-radius: 30px;
        @apply flex desktop:flex-row mobile:flex-col  w-full overflow-hidden desktop:min-h-[374px];
    }
    &__elem-info {
        @apply p-[22px] flex flex-col w-full;
    }
    &__btn {
        @apply mt-auto desktop:ml-auto;
    }
    &__img {
        @apply desktop:w-[254px] desktop:h-auto mobile:h-[170px];
        background: #dbeafe;
    }
    &__elem-title {
        font-family: var(--third-family);
        line-height: 152%;
        letter-spacing: -0.01em;
        @apply text-[#0f172a] text-[21px] font-bold mb-[20px];
    }
    &__elem-descr {
        font-family: var(--third-family);
        line-height: 173%;
        @apply text-[#606571] text-[15px] font-normal mb-[10px];
    }
}
