.corp-servies {
    @apply pt-[88px] pb-[63px];
    &__swiper {
        @apply w-full h-full;
    }
    &__elem {
        background: #fff;
        border-radius: 30px;
        @apply flex  w-full overflow-hidden min-h-[374px];
    }
    &__elem-info {
        @apply p-[22px] flex flex-col w-full;
    }
    &__btn {
        @apply mt-auto ml-auto;
    }
    &__img {
        @apply w-[254px];
        background: #dbeafe;
    }
    &__elem-title {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 21px;
        line-height: 152%;
        letter-spacing: -0.01em;
        color: #0f172a;
    }
    &__elem-descr {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 173%;
        color: #606571;
    }
}
