.corp-servies {
    @apply desktop:pt-[88px] desktop:pb-[63px] mobile:py-[30px];
    &__swiper {
        @apply w-full h-full;
    }
    &__container {
        @apply overflow-hidden;
    }
    swiper-container {
        &::part(container) {
            @apply mobile:overflow-visible ;
        }
        &::part(wrapper) {
            @apply items-center py-[10px];
        }
    }
    swiper-slide {
        @apply cursor-pointer transition-transform;
        &:hover {
            @apply scale-105;
        }
    }
    &__title {
        @apply mb-[40px];
    }
    &__elem {
        background: #fff;
        border-radius: 30px;
        @apply flex desktop:flex-row mobile:flex-col  w-full overflow-hidden desktop:min-h-[374px] h-full;
        box-shadow: 3px 6px 15px 0 rgba(36, 37, 39, 0.05);
    }
    &__elem-swiper {
        @apply py-[10px] h-full;
    }
    &__elem-info {
        @apply p-[22px] flex flex-col w-full h-full;
    }
    &__btn {
        @apply mt-auto desktop:ml-auto text-[#0a71ad];
    }
    &__nav-btn:deep() {
        @apply w-[60px] h-[44px] p-[11px_17px];
        box-shadow: 1px 4px 12px -1px rgba(36, 37, 39, 0.05);
        svg {
            @apply w-full h-full;
        }
    }
    &__img {
        @apply desktop:w-[254px] desktop:h-auto mobile:h-[170px] object-cover;
        background: #dbeafe;
    }
    &__top {
        @apply flex justify-between items-center;
    }
    &__nav-btns {
        @apply grid tablet:grid-cols-2 mobile:grid-cols-[repeat(2,max-content)] tablet:justify-normal mobile:justify-between;
    }
    &__elem-title {
        font-family: var(--third-family);
        line-height: 152%;
        letter-spacing: -0.01em;
        @apply text-[#0f172a] text-[21px] font-bold mb-[20px];
    }
    &__elem-descr {
        font-family: var(--third-family);
        line-height: 173%;
        @apply text-[#606571] text-[15px] font-normal mb-[10px]  line-clamp-4;
    }
}
