.form-commnent {
    @apply laptop:mb-[100px] mobile:mb-[30px];
    &__title {
        font-family: var(--second-family);
        @apply font-bold text-[#090914];
    }
    &__container {
        @apply grid gap-[38px];
    }
    &__block-enter {
        @apply grid desktop:gap-[40px] mobile:gap-[20px] bg-[#dbeafe] rounded-[40px] desktop:p-[60px_133px] p-[40px_20px];
    }
    &__content {
        @apply grid desktop:grid-cols-[1fr_minmax(auto,490px)] desktop:gap-[40px] mobile:gap-[20px];
    }
    &__fileds-block {
        @apply grid gap-[20px];
    }
    &__bottom {
        @apply flex gap-[20px] desktop:flex-row mobile:flex-col;
    }
    &__field-textarea {
        @apply h-full;
    }
    &__comment:deep() {
        @apply h-full;
        div:nth-child(2) {
            @apply h-full flex flex-col pb-[20px];
        }
        textarea {
            @apply h-full bg-white rounded-[10px];
        }
    }
    &__list {
        @apply grid gap-[20px] desktop:max-h-[500px] mobile:max-h-[250px];
    }
    &__elem {
        @apply grid grid-cols-[40px_1fr] gap-[4px];
    }
    &__elem-info {
        @apply flex flex-col bg-[#e6e6e6] rounded-[20px] p-[8px];
    }
    &__elem-name {
        font-family: var(--font8);
        line-height: 129%;
        @apply font-normal text-[14px] text-[#64748b];
    }
    &__elem-avatar {
        @apply flex justify-center items-center w-auto h-auto p-[10px] bg-gray-200 rounded-[20px] overflow-hidden;
    }
    &__span {
        @apply mb-[10px] flex;
    }
    &__btn {
        @apply tablet:max-w-max text-center justify-center;
    }
}
