.cta-telegram {
    @apply pt-[95px] pb-[159px] ;
    &__container {
        @apply p-[72px_134px] min-h-[469px] grid grid-cols-[588px_1fr] relative;
        border-radius: 30px;
        background: linear-gradient(224deg, #474747 0%, #222 41.8%);
    }
    &__title {
        @apply mb-[20px];
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 52px;
        line-height: 119%;
        letter-spacing: -0.04em;
        color: #fff;
    }
    &__descr {
         @apply mb-[38px];
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 25px;
        line-height: 120%;
        color: #fff;
    }
    &__btn {
        border-radius: 71px;
        padding: 20px 40px;
    }
    &__img {
        @apply absolute bottom-0 right-[10%] z-[1];
    }
}
