.cta {
    @apply pt-[48px] pb-[40px];
    &__container {
        @apply relative min-h-[520px] h-full grid grid-cols-[705px_1fr]  items-center w-full  p-[95px_128px];
    }
    &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 52px;
        line-height: 119%;
        letter-spacing: -0.04em;
        color: #fff;
        @apply mb-[6px];
    }
    &__descr {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: #fff;
        @apply mb-[53px];
    }
    &__btn {
        @apply text-[18px] max-w-max;
    }
    &__left {
        @apply w-full flex flex-col justify-center h-full;
    }
    &__img:deep() {
        @apply absolute inset-0 w-full z-[-1];
        NuxtPicture {
            @apply w-full h-full;
        }
    }
}
