.cta {
    @apply desktop:pt-[48px]  desktop:pb-[40px] mobile:py-[30px];
    &__content {
        @apply relative min-h-[600px] h-full grid desktop:grid-cols-[705px_1fr] rounded-[20px]  overflow-hidden  bg-gradient-to-l from-[#474747] to-[#222] items-center w-full   desktop:p-[95px_128px] mobile:p-[45px_24px];
    }
    &__title {
        font-family: var(--font-family);
        line-height: 119%;
        letter-spacing: -0.04em;
        @apply desktop:mb-[6px] mobile:mb-[30px] desktop:text-[52px] font-semibold mobile:text-[32px] text-white;
    }
    &__descr {
        font-family: var(--font-family);
        line-height: 167%;
        color: #fff;
        @apply desktop:mb-[53px] mobile:mb-[30px] desktop:text-[18px] font-normal mobile:text-[14px] text-white;
    }
    &__btn {
        @apply desktop:text-[18px] max-w-max mobile:text-[14px];
    }
    &__left {
        @apply w-full flex flex-col desktop:justify-center h-full relative z-[1];
    }
    &__img:deep() {
        @apply desktop:absolute mobile:relative  h-full z-[0] desktop:w-auto desktop:max-h-full mobile:max-h-[600px] mobile:w-full  mobile:mx-auto  mobile:max-w-max  object-contain right-0 desktopBig:scale-[2] desktop:scale-[1.4] mobile:scale-[1.8] desktop:translate-y-10 mobile:translate-x-[80px]  mobile:translate-y-[50px];
    }
}
