.cta-2 {
    background: #2387c0;
    @apply desktop:mb-[101px] desktop:mt-[64px] my-[30px];
    &__container {
        @apply desktop:pt-[95px] desktop:pb-[79px] grid desktop:grid-cols-[777px_1fr] gap-[50px] mobile:py-[45px];
    }
    &__title {
        @apply mb-[33px];
        font-family: var(--font4);
        line-height: 114%;
        @apply desktop:text-[42px] mobile:text-[30px] font-bold text-white;
    }

    &__sub-title {
        @apply mb-[20px] desktop:px-[64px] flex desktop:text-[25px] mobile:text-[20px] font-semibold text-white;
        font-family: var(--second-family);
        line-height: 96%;
    }
    &__descr-block {
        @apply desktop:px-[64px];
    }
    &__list {
        @apply list-decimal desktop:px-[75px] text-[20px] text-white font-normal;
        font-family: var(--second-family);
        line-height: 145%;
    }
    &__left:deep() {
        ol,
        ul {
            list-style: inherit;
            @apply pl-[20px] text-white;
        }
    }
    &__right {
        @apply flex justify-end items-end;
    }
    &__btn {
        @apply text-center desktop:min-w-[398px] desktop:w-auto mobile:w-full justify-center  flex rounded-full desktop:p-[20px] text-[#242527] desktop:text-[18px] mobile:text-[14px] font-semibold;
        font-family: var(--font-family);
        background: #fff;
    }
}
