.faq {
    @apply pt-[59px] pb-[64px];
    &__container {
        @apply grid grid-cols-2 gap-[51px];
    }
    &__left {
        @apply p-[72px_80px];
        background: #dbeafe;
        border-radius: 16px;
    }
    &__title {
        @apply mb-[100px];
    }
    &__descr {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 167%;
        color: #939393;
    }
}

.accordion {
    &__text-body {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        color: #18181b;
        @apply pb-[74px];
    }
    &__btn {
        @apply p-[15px_0]  rounded-none;
        &:hover {
            @apply bg-transparent;
        }
    }
    & > * {
        @apply border-b border-black;
    }
    &__btn-text {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        color: #18181b;
    }
}
