.faq {
    @apply desktop:pt-[59px] mobile:pt-[15px] desktop:pb-[64px] mobile:pb-[15px];
    &__container {
        @apply grid desktop:grid-cols-2 desktop:gap-[51px] mobile:gap-[20px];
    }
    &__left {
        @apply desktop:p-[72px_80px] mobile:p-[20px];
        background: #dbeafe;
        border-radius: 16px;
    }
    &__title {
        @apply desktop:mb-[100px] mobile:mb-[30px];
    }
    &__descr {
        font-family: var(--second-family);
        font-weight: 600;
        line-height: 167%;
        color: #939393;
        @apply desktop:text-[18px] mobile:text-[14px];
    }
}

.accordion {
    @apply flex flex-col h-full;
    &__text-body {
        font-family: var(--second-family);
        font-weight: 500;
        line-height: 162%;
        color: #18181b;
        @apply desktop:pb-[74px] mobile:pb-[30px] desktop:text-[16px] mobile:text-[14px];
    }
    &__btn {
        @apply p-[15px_0px]  rounded-none  w-full;
        &:hover {
            @apply bg-transparent;
        }
    }
    & > * {
        @apply border-b border-[#2387c0];
    }
    &__btn-text {
        @apply text-start;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        color: #18181b;
        @apply desktop:text-[18px] mobile:text-[16px];
    }
    &__btn-icon:deep() {
        path {
            stroke: #2387c0;
        }
    }
    &__elem {
        &.active {
            @apply h-full;
        }
    }
}
.accordion-slide-enter-active,
.accordion-slide-leave-active {
    transition: all .5s linear;
}

.accordion-slide-enter-from,
.accordion-slide-leave-to {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
}

.accordion-slide-enter-to,
.accordion-slide-leave-from {
    opacity: 1;
    max-height: 500px;
    transform: translateY(0);
}
