.hero-blog {
    @apply py-[20px];
    
    &__container {
        @apply grid desktop:grid-cols-[1fr_400px]  mobile:grid-cols-1 desktop:grid-rows-[auto_535px]  desktop:gap-[62px] mobile:gap-[20px];
    }
    &__img-info {
        @apply desktop:p-[60px_51px] mobile:p-[20px_0px]  relative z-[2];
    }
    &__img:deep() {
        @apply flex justify-center desktop:absolute inset-0;
        img {
            @apply w-full h-full object-cover;
        }
    }
    &__img-block {
        @apply desktop:bg-black  rounded-[20px] overflow-hidden relative flex flex-col-reverse;
        &:before {
            content: '';
            @apply desktop:absolute inset-0  z-[2] bg-gradient-to-b to-[#0000008f] from-transparent;
        }
    }
    &__img-info {
        @apply flex flex-col relative desktop:h-full justify-end;
    }
    &__date {
        font-family: var(--second-family);
        @apply text-[20px] desktop:text-white font-semibold ;
    }
    &__title {
        font-family: var(--second-family);
        line-height: 117%;
        color: #242527;
        @apply col-span-full desktop:text-[64px] mobile:text-[30px] font-extrabold;
    }
    &__list {
        @apply grid gap-[20px];
    }
    &__elem {
        @apply flex;
    }
    &__content-title {
        @apply desktop:mb-[60px] mobile:mb-[20px];
    }
    &__elem-link {
        line-height: 32px;
        font-family: var(--font-family);
        @apply text-[18px] font-medium flex items-end gap-[20px];
        &::before {
            content: '';
            @apply flex h-[100%]   rounded-[30px] w-[5px] z-[3];
            background: linear-gradient(127deg, #60bbee 0%, #0a72ad 100%);
        }
    }
    &__scrollbar {
        @apply desktop:h-auto mobile:h-[250px];
    }
    &__name {
        font-family: var(--font-family);
        @apply text-[24px] desktop:text-white font-semibold;
    }
}
