<IfModule mod_rewrite.c>
  RewriteEngine On

  # Обслуживать существующие файлы и директории напрямую
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Перенаправление всех остальных запросов на index.html
  RewriteRule ^ index.html [L]
</IfModule>
