.cases {
    @apply pt-[115px] pb-[59px] overflow-hidden;
    &__btn-list {
        @apply flex flex-wrap justify-between desktop:mb-[85px] mobile:mb-[30px];
    }
    swiper-container::part(container ) {
        @apply overflow-visible;
    }
    &__title {
        @apply desktop:text-center desktop:mb-[50px] mobile:mb-[20px];
    }
}
.info-case {
    @apply grid desktop:grid-cols-2 desktop:gap-[210px] mobile:gap-[30px];
    &__title {
        font-family: var(--second-family);
        line-height: 110%;
        letter-spacing: -0.03em;
        @apply desktop:mb-[45px] mobile:mb-[20px]  desktop:text-[60px] font-bold text-[#0f172a] tablet:text-[45px] mobile:text-[30px];
    }
    &__descr {
        @apply text-[18px] font-semibold text-[#939393] tablet:text-[16px] mobile:text-[14px];
        font-family: var(--second-family);
        line-height: 167%;
    }
    &__list-deep {
        @apply tablet:p-[52px_89px] mobile:p-[40px_18px] grid tablet:gap-[80px] mobile:gap-[30px] rounded-[16px] bg-[#dbeafeaa];
    }
    &__elem-deep {
        @apply grid tablet:grid-cols-[60px_1fr] mobile:grid-cols-[30px_1fr]  tablet:gap-[23px] mobile:gap-[15px];
    }
    &__elem-descr-deep {
        @apply col-start-2;
    }
    &__info-deep {
        @apply flex flex-col gap-[11px];
    }
    &__number-deep {
        font-family: var(--third-family);
        line-height: 133%;
        letter-spacing: -0.03em;
        @apply flex justify-center items-center tablet:h-[60px] mobile:h-[30px] bg-[#2387c0] rounded-full text-white text-center text-[18px] font-bold;
    }
    &__elem-title-deep {
        font-family: var(--second-family);
        line-height: 152%;
        letter-spacing: -0.01em;
        @apply text-[#0f172a] desktop:text-[21px] mobile:text-[18px] font-extrabold;
    }
    &__elem-descr-deep {
        font-family: var(--second-family);
        line-height: 162%;
        @apply text-[#212939] desktop:text-[16px] mobile:text-[14px] font-medium;
    }
}
