.hero {
    background: linear-gradient(224deg, #474747 0%, #222 41.8%);
    @apply relative;
    &__container {
        @apply h-full min-h-[902px] flex items-center relative z-[1];
    }
    &__left {
        @apply max-w-[753px] h-full  flex-col;
    }
    &__title {
        font-family: var(--second-family);
        line-height: 117%;
        @apply font-extrabold text-[64px] text-white mb-[28px];
    }
    &__descr {
        font-family: var(--second-family);
        @apply font-semibold text-[30px] text-[#c4c4c4] mb-[61px];
    }
    &__img {
        @apply absolute inset-0 w-full h-full flex justify-end pt-[111px] z-[0];
    }
    &__info {
        @apply absolute bottom-[-10%] right-[10%] rounded-[35px] p-[23px_46px] max-w-[869px] flex justify-center;
        box-shadow: 0 12px 18px 0 rgba(1, 115, 153, 0.2);
        background: linear-gradient(127deg, #399fd8 0%, #0775b4 30.37%, #003756 99.44%);
    }
    &__info-text {
        font-family: var(--font-family);
        @apply font-semibold text-[46px] text-center text-white;
    }
}
