.related-blog {
    padding: 55px 0;
    overflow: hidden;
    &__title {
        font-family: var(--second-family);
        line-height: 119%;
        letter-spacing: -0.04em;
        @apply mb-[22px] text-center text-[#090914] max-w-[660px] justify-center flex m-auto;
    }
    &__date {
        font-family: var(--second-family);
        line-height: 130%;
        @apply text-[#939393] text-[20px] font-bold;
    }
    &__name {
        font-family: var(--font-family);
        @apply text-[#242527] text-[21px] font-semibold;
    }
    swiper-container {
        &::part(container) {
            @apply mobile:overflow-visible desktop:overflow-hidden tablet:h-[380px] mobile:h-[400px];
        }
        &::part(wrapper) {
            @apply items-center;
        }
    }
    &__swiper {
        @apply mb-[30px];
    }
    &__nav-btns {
        @apply grid tablet:grid-cols-2 mb-[30px] mobile:grid-cols-[repeat(2,max-content)] tablet:justify-normal mobile:justify-between;
    }
    &__title-elem {
        font-family: var(--font-family);
        line-height: 152%;
        letter-spacing: -0.01em;
        @apply desktop:text-[21px] font-semibold mb-[26px] text-black mobile:text-[18px];
    }
    &__img:deep() {
        @apply flex tablet:min-h-[192px] mobile:min-h-[200px] bg-[#52525b] rounded-[16px] mb-[26px] w-full;
        img {
            @apply w-full h-full object-cover;
        }
    }
    &__subtitle {
        @apply flex justify-center font-normal desktop:text-[18px] mobile:text-[14px] text-center text-[#52525b] desktop:mb-[68px] mb-[43px];
        font-family: var(--font-family);
        line-height: 167%;
    }
    &__btn {
        @apply flex gap-[10px] items-center mx-auto justify-center font-semibold desktop:text-[18px] mobile:text-[14px] text-center text-white desktop:p-[20px_40px] rounded-[71px] w-max;
        font-family: var(--font-family);
    }
    &__elem-link {
        @apply h-full p-[24px] rounded-[16px] bg-[#dbeafe] flex flex-col;
    }
}
