.blog-content {
    @apply desktop:mb-[60px] grid gap-[20px];
    &__container {
        @apply grid desktop:gap-[60px] mobile:gap-[20px];
    }
    &__title {
        font-family: var(--second-family);
        @apply text-[#242527]  font-sans;
    }
    &__content:deep() {
        font-family: var(--second-family);
        line-height: 160%;
        letter-spacing: -0.02em;
        @apply text-[#0f172a] desktop:text-[20px] mobile:text-[16px] font-medium;
        p {
            @apply mb-[30px] font-light;
            font-family: var(--font3);
        }
        h3 {
            font-family: var(--font3);
            font-size: 25px;
            margin-bottom: 20px;
        }
        ul,
        ol {
            list-style: revert;
            font-family: var(--font3);
            line-height: 170%;
            @apply desktop:text-[18px] mobile:text-[14px] font-semibold desktop:gap-[20px] mobile:gap-[10px] grid pl-[20px] mb-[30px];
        }
        ul,
        ol {
            li::marker {
                @apply text-[#2387c0];
            }
        }
        ul {
            @apply list-disc;
        }

        blockquote {
            font-family: var(--font3);
            line-height: 140%;
            @apply desktop:mb-[60px] mobile:mb-[30px] desktop:gap-[60px] mobile:gap-[20px] bg-[#edf5ff] shadow-[3px_6px_15px_0_#2425270d] justify-center grid-cols-[8px_1fr] grid desktop:p-[60px] mobile:p-[20px] font-semibold rounded-[20px] text-[#0f172a] desktop:text-[30px] mobile:text-[14px];
            &::before {
                content: '';
                background: linear-gradient(127deg, #60bbee 0%, #0a72ad 100%);
                @apply w-[8px] rounded-[30px] h-full;
            }
            p {
                @apply mb-0;
            }
        }
    }
    &__all-metric {
        @apply grid grid-cols-[repeat(2,max-content)]  gap-[15px] order-3;
    }

    &__metric {
        @apply flex items-center gap-[11px] justify-end font-normal tablet:text-[16px] mobile:text-[14px] text-[#939393];
        font-family: var(--font-family);
        line-height: 167%;
    }
}
