.form-2 {
    &__content {
        background: linear-gradient(224deg, #474747 0%, #222 41.8%);
        border-radius: 40px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        padding: 36px 128px;
    }

    &__fileds-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px 20px;
    }
    &__check {
        grid-column: 1 / -1;
    }
    &__field-label:deep() {
        label {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            color: #fff;
        }
    }
 
    &__btn {
        margin-left: auto;
    }
}
