.cost-servies {
    @apply pt-[63px] pb-[90px];
    &__container {
        @apply grid grid-cols-2 gap-[185px];
    }
    &__title {
        @apply mb-[29px];
    }
    &__descr {
        @apply text-[18px] font-semibold text-[#939393] mb-[33px];
        font-family: var(--font-family);
        line-height: 170%;
    }
    &__btn {
        background: #0a72ad;
        font-size: 18px;
    }
    &__img-block{
        @apply relative;
    }
    &__img-right {
        @apply absolute bottom-[10%] right-[15%];
    }
}
