* {
    @apply m-0 p-0;
    box-sizing: border-box;
}
html{
     scroll-padding-top: 100px;
}
html,
body {
    @apply h-full scroll-smooth;
}
#__nuxt {
    @apply w-full h-full;
}
body {
    @apply bg-[#ffffff]  font-['Poppins'_sans-serif] h-full;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    @apply flex-[1_0_auto] mb-[100px];
}
.btn {
    box-shadow: 0 13px 20px 0 rgba(1, 115, 153, 0.2);
    border-radius: 65px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    border-image: linear-gradient(127deg, #60bbee 0%, #0a72ad 100%);
    border: 3px solid transparent;
    border-image-slice: 1;
    @apply tabletMedium:text-[21px] tabletMedium:p-[26px_52px] mobile:p-[15px_30px] mobile:text-[18px];

    &--bg {
        background: linear-gradient(127deg, #60bbee 0%, #0a72ad 100%);
        border: none;
        color: #fff;
    }
    &--dont-active {
        @apply text-[#2387C0] bg-transparent;
        border: 3px solid #2387c0;
    }

    &:hover {
        @apply text-[#2387C0];
    }
}

.title-level-2 {
    @apply font-bold desktop:text-[46px] text-[#242527] mobile:text-[30px];
    font-family: var(--second-family);
}

.input-field {
    input {
        height: 50px;
        border-radius: 10px;
        background: #fff;
        &::placeholder {
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 14px;
            line-height: 179%;
            letter-spacing: 0.06em;
            color: #a5a5a5;
        }
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 179%;
        letter-spacing: 0.06em;
        color: black;
    }
}
.breadcrumbs-block {
    @apply py-[20px];
    &.HeroCustom {
        background: linear-gradient(244deg, #474747 1%, #222 59.8%);
        .breadcrumbs {
            @apply bg-transparent;
            span {
                @apply text-white;
            }
        }
    }
    .breadcrumbs {
        @apply p-[12px_20px] bg-[#EDF5FF] max-w-max  rounded-[32px];
    }
}
