.footer {
    background: #2387c0;
    &__container {
        @apply desktop:pt-[68px] desktop:pb-[40px] mobile:py-[30px];
    }
    &__top {
        @apply grid desktop:grid-cols-[max-content_1fr_max-content]  desktopMedium:gap-[30px] mobile:gap-[20px] items-center mobile:justify-center;
    }

    &__logo {
        @apply desktop:w-[183px] h-[87px] desktop:mb-[19px] mobile:mx-auto mobile:w-full order-1;
    }
    &__icon {
        @apply w-full h-full;
    }
    &__list {
        @apply desktop:flex gap-[45px]  max-w-max justify-self-center    mobile:hidden order-2;
    }
    &__social {
        @apply flex;
    }
    &__connect {
        @apply flex desktop:justify-between mobile:items-center desktop:col-start-3 desktop:items-start mobile:flex-col w-full desktop:order-5 mobile:order-4;
    }
    &__tel-text {
        @apply text-[14px] col-span-2 text-end;
    }
    &__hr {
        @apply desktop:col-span-full  order-6;
    }
    &__link {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #fff;
        @apply desktop:text-[18px] mobile:text-[14px];
    }
    &__email,
    &__tel {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #fff;
        @apply grid grid-cols-[24px_1fr] gap-[10px] items-start;
    }
    &__btn-call {
        box-shadow: 0 10px 15px 0 rgba(1, 115, 153, 0.2);
        background: #fff;
        border-radius: 59px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #242527;
        padding: 20px 40px;
        display: flex;
        margin-left: auto;
        @apply mobile:w-full flex justify-center desktop:order-[3] mobile:order-5 desktop:mb-0 mobile:mb-[30px];
    }
    &__address {
        @apply grid grid-cols-[20px_1fr] items-center gap-[10px] w-full desktop:order-4 mobile:order-3;
        font-family: var(--font7);
        font-weight: 400;
        font-size: 14px;
        line-height: 167%;
        color: #fff;
        opacity: 0.6;
    }
    &__copy,
    &__policy {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        text-align: center;
        color: #fff;
        @apply order-7;
    }
    &__social {
        @apply grid gap-[9px] grid-cols-5 desktop:max-w-max desktop:justify-self-end desktop:order-8 mobile:order-4 w-full mobile:justify-center justify-items-center desktop:mb-0 mobile:mb-[30px];
    }
    &__social-elem {
        @apply h-[20px] w-[20px];
    }
}
