.footer {
    background: #2387c0;
    &__container {
        @apply pt-[68px] pb-[40px];
    }
    &__top {
        @apply grid grid-cols-[200px_1fr_382px] justify-between gap-[100px] items-center border-b border-white pb-[20px];
    }
    &__left {
        @apply flex flex-col;
    }
    &__logo {
        @apply w-[183px] h-[87px] mb-[19px];
    }
    &__icon {
        @apply w-full h-full;
    }
    &__bottom {
        @apply pt-[35px] grid grid-cols-[max-content_1fr_382px] gap-[100px] justify-between;
    }
    &__list {
        @apply flex gap-[45px]  max-w-max  justify-self-center;
    }
    &__social {
        @apply flex;
    }
    &__connect {
        @apply flex justify-between;
    }
    &__link {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #fff;
    }
    &__email,
    &__tel {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #fff;
        @apply grid grid-cols-[24px_1fr] gap-[10px];
    }
    &__btn-call {
        box-shadow: 0 10px 15px 0 rgba(1, 115, 153, 0.2);
        background: #fff;
        border-radius: 59px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #242527;
        padding: 20px 40px;
        display: flex;
        margin-left: auto;
        margin-bottom: 27px;
    }
    &__address {
        font-family: var(--font7);
        font-weight: 400;
        font-size: 14px;
        line-height: 167%;
        color: #fff;
        opacity: 0.6;
    }
    &__copy,
    &__policy {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        text-align: center;
        color: #fff;
    }
    &__social {
        @apply grid gap-[9px] grid-cols-5 max-w-max justify-self-end ;
    }
    &__social-elem {
        @apply h-[20px] w-[20px];
    }
}
