.blog-list {
    @apply  desktop:py-[40px] mobile:py-[20px] desktop:mb-[100px];
    &__container {
        @apply relative;
    }
    &__title {
        font-family: var(--second-family);
        @apply font-extrabold  text-[#242527] mb-[40px];
        line-height: 117%;
    }
    &__list {
        @apply grid desktopWide:grid-cols-3 laptop:grid-cols-2 mobile:grid-cols-1 desktopWide:gap-[50px] mobile:gap-[20px]  mb-[50px];
    }
    &__title-elem {
        font-family: var(--font-family);
        @apply font-semibold tablet:text-[30px] mobile:text-[16px] text-[#000] laptop:order-3 mobile:order-1;
        line-height: 120%;
        letter-spacing: -0.01em;
    }
    &__top {
        @apply grid grid-cols-2 items-center laptop:order-2 mobile:order-3;
    }
    &__name-block {
        @apply flex flex-col;
    }
    &__elem {
        @apply laptop:rounded-[16px] mobile:rounded-[20px] desktop:shadow-none desktop:bg-transparent mobile:shadow-[6px_2px_20px_0_#2425270d] mobile:bg-[#dbeafe];
    }
    &__image-blog {
        @apply p-[20px_30px] tablet:mb-[20px] relative grid laptop:gap-[0] mobile:gap-[20px];

        &::before {
            content: '';
            @apply absolute inset-0 h-[60%] mt-auto desktop:shadow-[6px_2px_20px_0_#2425270d] desktop:bg-[#dbeafe] mobile:bg-none  mobile:shadow-none z-[-1] rounded-[16px] laptop:flex mobile:hidden;
        }
    }
    &__picture:deep() {
        @apply rounded-[16px] w-full h-full tablet:h-[200px] mobile:h-[132px] laptop:w-[70%] flex tabletMedium:mb-[20px] laptop:order-1 mobile:order-2 object-cover;

    }
    &__all-metric {
        @apply grid grid-cols-[repeat(2,max-content)] justify-end gap-[15px];
    }

    &__metric {
        @apply flex items-center gap-[11px] justify-end font-normal tablet:text-[16px] mobile:text-[14px] text-[#939393];
        font-family: var(--font-family);
        line-height: 167%;
    }
    &__date {
        font-family: var(--second-family);
        @apply font-bold tablet:text-[20px] mobile:text-[12px] text-[#939393];
        line-height: 130%;
    }
    &__name {
        font-family: var(--font-family);
        @apply text-[#242527] tablet:text-[24px] mobile:text-[14px] font-semibold;
    }
    &__pagination:deep() {
        @apply flex justify-center gap-[20px];

        button {
            font-family: var(--font-family);
            @apply tablet:w-[72px] mobile:w-[40px] tablet:h-[72px] mobile:h-[40px] flex opacity-50 justify-center items-center text-[18px] font-semibold text-center text-white shadow-[0_11px_17px_0_#01739933] bg-[#2387c0] rounded-[10px];
            &.bg-primary-500 {
                @apply shadow-[0_11px_17px_0_#01739933] bg-[#2387c0] opacity-100;
            }
            &[aria-label='Prev'],
            &[aria-label='Next'] {
                @apply hidden;
            }
        }
    }
}
