.command {
    @apply py-[131px];
    &__container {
        @apply flex flex-col     auto-cols-max  bg-[#dbeafe] rounded-[16px] overflow-hidden p-0;
    }
    &__title {
        @apply mb-[12px];
    }
    &__top {
        @apply grid grid-cols-[1fr_700px];
    }
    &__descr {
        font-family: var(--second-family);
        line-height: 167%;
        @apply max-w-[496px] text-[18px] font-medium text-[#52525b];
    }
    &__info {
        @apply p-[57px_138px] w-full;
    }
    &__swiper {
        @apply w-full h-full col-span-full;
    }
    &__list {
        @apply flex;
    }
    &__elem {
        @apply h-full w-full relative flex flex-col justify-end p-[33px_40px] min-h-[350px];
        &:before {
            content: '';
            @apply absolute inset-0 bg-[#00000015] z-[2];
        }
    }
    &__img:deep() {
        @apply absolute inset-0 z-[0] w-full h-full;
        img {
            @apply w-full h-full object-cover;
        }
    }
    &__title-elem {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: -0.03em;
        color: #fff;
    }
    &__descr-elem {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #e4e4e7;
    }
    &__title-elem,
    &__descr-elem {
        @apply relative z-[3];
    }
}
