.command {
    &__container {
        @apply desktop:py-[131px] mobile:py-[30px] mobile:bg-[#dbeafe] desktop:bg-white mb-[40px] rounded-[16px] overflow-hidden;
    }
    &__content {
        @apply flex flex-wrap   h-full desktop:bg-[#dbeafe] rounded-[16px] overflow-hidden  p-0;
    }
    &__title {
        @apply mb-[12px];
    }
    &__top {
        @apply desktopMedium:flex desktop:flex-wrap mobile:grid grid-rows-1 tabletMedium:grid-cols-3 mobile:grid-cols-2  w-full justify-end desktop:auto-rows-[376px] laptopMedium:auto-rows-[310px] laptop:auto-rows-[280px] tabletMedium:auto-rows-[220px] tablet:auto-rows-[280px] mobileWide:auto-rows-[180px] mobile:auto-rows-[150px]   h-full;
    }
    swiper-container {
        &::part(wrapper) {
            @apply justify-end;
        }
    }
    &__descr {
        font-family: var(--second-family);
        line-height: 167%;
        @apply desktop:text-[18px] mobile:text-[14px] font-medium text-[#52525b];
    }
    &__info {
        @apply flex  desktopWide:flex-[1_1_50%] desktopMedium:flex-[1_1_40%] mobile:flex-[1_1_100%] col-span-full desktopMedium:mb-0 mobile:mb-[20px]   desktopWide:p-[30px_120px] desktop:p-[30px_50px]  mobile:p-[0px]  flex-col justify-center  w-auto;
    }
    &__swiper {
        @apply w-full h-full col-span-full grid desktop:grid-rows-[334.29px];
    }
    &__list-top {
        @apply flex  w-full h-full;
    }
    &__list {
        @apply flex flex-wrap  justify-end w-full;
    }
    &__elem {
        @apply relative flex flex-col justify-end desktop:p-[33px_40px] mobile:p-[15px_10px] desktopWide:w-[349px] desktopMedium:w-[336px] mobile:w-full desktopMedium:h-[336px] mobile:h-full;

        &:before {
            content: '';
            @apply absolute inset-0  z-[2] bg-gradient-to-b to-[#0000008f] from-transparent;
        }
    }
    &__img:deep() {
        @apply absolute inset-0 z-[0] w-full h-full;
        img {
            @apply w-full h-full object-cover;
        }
    }
    &__title-elem {
        font-family: var(--font-family);
        line-height: 133%;
        letter-spacing: -0.03em;
        @apply font-semibold desktop:text-[18px] mobile:text-[16px] text-white;
    }
    &__descr-elem {
        font-family: var(--font-family);
        line-height: 157%;
        @apply font-normal desktop:text-[14px] mobile:text-[10px] text-[#e4e4e7];
    }
    &__title-elem,
    &__descr-elem {
        @apply relative z-[3];
    }
}
