.form-1 {
  @apply my-[40px];
    &__content {
        background: linear-gradient(224deg, #474747 0%, #222 41.8%);
        @apply desktop:p-[36px_128px] mobile:p-[45px_24px]  desktop:gap-[80px] mobile:gap-[19px] grid overflow-hidden rounded-[40px] desktop:grid-cols-2 items-center;
    }
    &__title {
        font-family: var(--second-family);
        @apply  mb-[19px] text-white desktop:text-[40px] font-bold mobile:text-[25px];
    }
    &__descr {
        font-family: var(--second-family);
        @apply text-white desktop:text-[18px] font-normal mobile:text-[14px];
    }
    &__fileds-block {
        @apply grid desktop:grid-cols-2 gap-[20px];
    }

    &__field-label:deep() {
        @apply col-span-full;
        label {
            font-family: var(--font-family);
            line-height: 162%;
            @apply desktop:text-[16px] text-white font-normal mobile:text-[14px];
        }
    }
    &__check {
        @apply desktop:col-start-1 desktop:col-end-2;
    }
    &__btn {
        font-family: var(--font-family);
        @apply flex desktop:col-start-2 w-full justify-center desktop:text-[18px] mobile:text-[14px] text-white font-semibold desktop:p-[20px_40px] mobile:p-[13px] rounded-[71px];
    }
    &__acceptance {
        @apply desktop:col-start-1  desktop:col-end-2;
    }
}
