.included-servies {
    @apply pt-[90px] pb-[48px];
    &__title {
        @apply text-center mb-[49px];
    }
    &__list {
        @apply flex flex-wrap gap-[50px] justify-center;
    }
    &__elem {
        @apply min-h-[242px] max-w-[526px] rounded-[30px] bg-[#2387c0] shadow-[6px_2px_20px_0_#2425270d] p-[42px] flex flex-col items-center justify-center;
    }
    &__icon {
        @apply mb-[13px] rounded-full text-[#2387c0] min-w-[62px] font-extrabold text-[25px] min-h-[62px] bg-white text-center flex justify-center items-center;
        box-shadow: 0 10px 15px 0 rgba(35, 135, 192, 0.15);
        font-family: var(--font-family);
    }
    &__elem-title {
        @apply mb-[4px] font-semibold text-[16px] text-center text-white;
        font-family: var(--font-family);
    }
    &__elem-text {
        @apply font-semibold text-[14px] text-center text-white;
        font-family: var(--second-family);
        line-height: 130%;
    }
}
