.about {
    @apply pt-[72px] pb-[90px];
    &__title {
        @apply mb-[45px] text-center;
    }
    &__list {
        @apply grid grid-cols-4 gap-[98px];
    }
    &__elem {
        @apply flex flex-col items-center;
    }
    &__title-elem {
        font-family: var(--font5);
        line-height: 138%;
        letter-spacing: 0em;
        @apply text-[#2387c0] text-center text-[76px] font-extrabold;
    }
    &__text-elem {
        font-family: var(--second-family);
        line-height: 130%;
        @apply text-[#939393] text-center text-[20px] font-bold;
    }
}
